<div class = "guimenubutton">
	Save
</div>
						
<div class = "guimenubutton">
	Print
					
</div>

<div class ="guibutton">
	×
</div>
<div class ="guibutton" style="padding:11px; font-size:100%;">
	&#9635;
</div>
<div class ="guibutton">
	-
</div>