<table class="book">
	<tr>
		<th style=left:-2px;top:0px>Day</th>
		<th style=left:182px;top:0px;>Item</th>
		<th style=left:363px;top:0px;>Ref</th> 
		<th style=left:545px;top:0px;>In</th> 
		<th style=left:727px;top:0px;>Out</th>
	</tr>
	<tr class="blank">
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<%= render "item" %>
</table>