<table class="book">
	<tr>
		<div class="header">
			<div>day</div>
			<div>Item</div>
			<div>Ref</div>
			<div>In</div>
			<div>Out</div>
		</div>

	</tr>
	<tr class="blank">
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
		<%= render "item" %>
</table>
