<table class = "book" >
	
	
		
		<tr>
			
			
			<th style=left:0px;top:0px>Day</th>

			<th style=left:179px;top:0px;>Item</th>
			<th style=left:361px;top:0px;>Ref</th> 
			<th style=left:543px;top:0px;>In</th> 
			<th style=left:725px;top:0px;>Out</th>
			

		</tr>
		<tr class = "blank">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
		</tr>

		<%= form_for @book do |f| %>
			<% i = 0 
			while i < @book.count %>
				<%if i.odd? %>
					<tr class = "alt" >
				<%else %>
					<tr>
				<%end %>
					     <td>f.input :day, :input_html =>{:value => f.day}</td>
					     <td>f.input :item, :input_html =>{:value => f.day}</td>
					     <td>f.input :ref, :input_html =>{:value => f.day}</td>
					     <td>f.input :in, :input_html =>{:value => f.day}</td>
					     <td>f.input :out, :input_html =>{:value => f.day}</td>
				      
				      	<% i += 1 %>
				    </tr>
	 		 <% end %>
	 	<%end%>

 	
</table>